#daftar {
    color: #47525E;
    margin: auto;
    display: block;
    font-family: 'Droid Serif';
    text-align: center;
    font-size: 300%;
    margin-top: 10%;
}

#daftarLine {
    background-color: #C5E2F2;
    width: 42%;
    height: 8px;
    margin-top: 0%;
    margin-bottom: 4%;
}

.contain {
    margin: auto;
    display: block;
    text-align: center;
}
.contain div {
    margin: auto;
    display: block;
    text-align: center;
}

#formbox {
    display: flex;
    flex-direction: column;
    width: 30%;
    margin: auto;
    margin-bottom: 3%;

}

input {
    padding: 1% 1% 1% 1%;
    border: 4px solid #8492A6;
    border-radius: 6px;
}

#button {
    margin-top: 5%;
    margin: auto;
    margin-bottom: 1%;
    display: block;
    object-fit: cover;
    width: 50%;
    text-align: center;
    height: 50px;
    background-color: transparent;
}

.button {
    background-color: #C5E2F2 !important;
    padding-right: 8% !important;
    padding-left: 8% !important;
}

.btn:hover {
    opacity:1;
}

.tulisanLogin {
    display: block;
    margin: auto;
    text-align: center;
    margin-bottom: 5%;
}
