body{
	background-color: #f5f5f5;
}

#judul{
	color: #002266;
	text-decoration: underline;
	text-decoration-color: #99d6ff;
	text-align: center;
	padding-right: 30%;
	padding-left: 30%;
	font-weight: bold;
}


.text {
	font-size: 25px;
	text-align: center;
	color: #ffffff;
	font-weight: bold;
}

.titleBox {
	background-color: #99d6ff;
	line-height: 45px;
	width: 25%;
	border-radius: 40px;
	position: relative;
	left: 37.4%;
	box-shadow: 2px 2px 5px rgba(0,0,0,.25);
}

#namaprogram{
	text-decoration: underline;
	font-weight: bold;
	text-decoration-color: #99d6ff;
}

.programBox{
	border-radius: 10px;
	text-shadow: 2px 2px 5px rgba(0,0,0,.25); 
	background-color: #ffffff;
	text-align: center;
	box-shadow: 2px 2px 5px rgba(0,0,0,.25);	
	margin-left: 30px;
	margin-right: 30px;
	padding-top: 4%;
	padding-bottom: 2%;
}

#donasicard{
	margin-left: 40px;
	margin-right: 40px;
}

.footer {
  position: relative;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #002266;
  text-align: center;
  font-style: italic;
  color: #ffffff;
}
