<!DOCTYPE html>
{% load static %}
<html lang="en">
    <head>
		<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
		<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
		<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
		<title>Form Donatur</title>
		<style>
			body{
				color: darkgray ;
				font-family:'Times New Roman', Times, serif ;
			}
			h2{
				text-decoration: underline ;
				text-decoration-color:deepskyblue ;
				font-size: 4em;
			}
			p {
				margin-left: 3em;
				border-color:darkgray ;
				border-width: 0.3em;
			}
			#formbox {
				display: flex !important;
				flex-direction: column !important;
				width: 50%;
				margin: auto;

			}
		</style>
	</head>
    <body>
		{% include 'base.html' %}
		<h2 class="bio_head form-group text-center justify-content-center" style="color:black; font-family:Arial, Helvetica, sans-serif">Donasi </h2>
		<div class="container" style="max-width:35em" >
			<form action="/FormDonate/{{ obj.titleURL }}/" method="POST">
				{% csrf_token %}
				{% for field in form %}
                <div id= 'formbox'>
                    {{ field.label_tag}}
                    {{ field }}
				</div>
				{% endfor %}
				<div align="right" style="margin-top:2em" >
				<a href="../FormDonate/{{obj.titleURL}}/">
					<div id="button" class="input2"><button type="submit" class="btn">Donasi</button>
					</div>
					</a>
				</div>
			</form>
		</div>
	</body>
</html>

