{% include 'base.html' %}
{% load staticfiles %}

{% block content %}
<style>
    .bencana {
    margin: auto;
    display: block;
    text-align: center;
    color:blue;
}
</style>
<div>
    <h2 class="bencana">
        <p>Donasi Anda Berhasil</p>
    Terima kasih atas donasi yang anda berikan!</h2>
</div>
{% endblock content %}  