{% include 'base.html' %}
{% load staticfiles %}
<!--
{% block script %}
<script>
var commentbox = [];
var lastLoad = 0;
function getComments(bool) {
    if (!bool) {
        $.get("/about/comment/", function(data){
            console.log("SIGN AJAX")
            var komentar = data.comment;
            for (lastLoad; lastLoad < komentar.length; lastLoad++) {
                console.log(lastLoad);
                commentbox.push("<blockquote class='blockquote'><p>" + komentar[lastLoad].comment + "</p><footer class='blockquote-footer'>" + komentar[lastLoad].name + "</footer></blockquote><hr>")
            }
            $(".comment").append($(commentbox.join('')));
        });
    } else {
        $.get("/about/comment/", function(data) {
            var komentar = data.comment;
            $(".comment").append("<blockquote class='blockquote'><p>" + komentar[komentar.length-1].comment + "</p><footer class='blockquote-footer'>" + komentar[komentar.length-1].name + "</footer></blockquote><hr>")
        })
    }
    
}
$(function() { 
    getComments(false)
    function csrfSafeMethod(method) {
        // these HTTP methods do not require CSRF protection
        return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
    }


    $("#formcomment").on("coment", function(event){
        event.preventDefault()
        console.log("SIGN BUTTOM");

        $.ajaxSetup({
            beforeSend: function(xhr, settings) {
                if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                    xhr.setRequestHeader("X-CSRFToken", csrftoken);
                }
            }
        });


        $.post("/about/",{
            "nama" : $("#id_name").val(),
            "comment" : $("#id_comment").val(),
        } ,function(data) {
            setTimeout(function() {
                getComments(true);
            }, 1000);
        })
    });
});


</script>
{% endblock script %} -->
{% block content %}

<body>
    <div class="container p-12">
       <div class="row">
          <div class="col">
          </div>
          <div class="col">
             <h2 class="text-center">HAND O</h2>
          </div>
          <div class="col">
          </div>
    </div>
       </br>
       </br>
       </br>
       <p class="text-center">HAND O siap membantu anda menyalurkan kebaikan</p>
       <div class="container p-5">
          <div class="row">
             <div class="col">
                <h3><span class="font-weight-bold">About US</span></h3>
                <p>HAND O adalah tangan yang membantu anda menyalurkan kebaikan
                <p>Makna kehidupan bisa dirasakan </p>
                <p>Bukan dari seberapa banyak yang telah didapat</p>
                <p>Tapi dari seberapa banyak yang diberi</p>
                </p>
             </div>
          </div>
       </div>
    </div>
 
     {% if user.is_authenticated %}
    <div class="container p-12">
       <div class="row">
          <div class="col">
          </div>
          <div class="col">
    
             <div class="container" style=" display: block;">
                <h1 style="font-family: 'montserrat' ; font-size:58px">Testimoni</h1>
             
                <textarea type="text" name="testimoni input" id="testi" placeholder="Give your feedback here ..." style="width: 350px; height: 100px"></textarea>
                <button id="submit_testi" type="submit" class="button" onclick="" style="font-family: 'montserrat'; color: white; 
                background-color: black; border-style: none; 
                padding: 10px; width: 350px; margin-top: 10px;display: block;">Send</button>
             </div>
 
          </div>
          <div class="col">
          </div>
 
       </div>
               {% else %}
          <div class="container p-12">
             <div class="row">
                <div class="col">
                </div>
                <div class="col">
 
                   <h1 id="testi" style="font-family: 'montserrat'; margin-top: 20px">Testimoni</h1>
 
                </div>
                <div class="col">
                </div>
             </div>
            
 
 
               {% endif %}
 
             <div class="container p-12">
                <div class="row">
                   <div class="col">
                   </div>
                   <div class="col">
 
                         <div class="table-responsive">
                            <table class="table">
                               <thead>
                                  <th class="col-md-6">Nama</th>
                                  <th class="col-md-6"> Testimoni </th>
                               </thead>
                               {% csrf_token %}
                               <tbody id="start_testimoni">
                               </tbody>
                            </table>
                         </div>
 
                   </div>
                   <div class="col">
                   </div>
                </div>
               
             </div>   
            </div>
 
 
 
 </body>
 
 
 {% endblock %}
 