{% load staticfiles %}
{% include 'base.html' %}
{% block content %}

<link rel="stylesheet" type="text/css" media="screen" href="{% static 'listdonatur.css' %}" />
<script type="text/javascript" src="{% static 'riwayat.js' %}"></script>
  	<div class="container-fluid">
	  	<div class="row">
	  		<div class="col-sm-12">
	  			<h1 id="judul">Donasi Anda</h1>
	  		</div>
	  	</div>

	  	<br><br><br>

	  <!-- 	<div class="row">
	  		<div class="col-sm-12">
	  			<div class="titleBox">
	  				<div class = "text">
	  					<h3>Total Donasi: {{total}}</h3>
	  				</div>
	  			</div>
	  		</div>
	  	</div>

	  	<br> -->

	  <table class="table table-hover">
	      <thead>
	        <th>No</th>
	        <th>Program Donasi</th>
	        <th>Jumlah Donasi</th>
	      </thead>
      	<tbody id="riwayat"></tbody>
      </table>
	  		

	  	<br><br><br>
	  	
	  	
	  <div class="footer">
      "There is more happiness in<strong> giving </strong>than in<strong> receiving </strong>."</div>

{% endblock content %}
