{% load staticfiles %}
<meta charset="UTF-8" name="google-signin-client_id" content="702606946367-oj8gge2d0bfkqi0fktesvgp1kmp236o1.apps.googleusercontent.com">
<script
    src="https://code.jquery.com/jquery-3.3.1.min.js"
    integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
    crossorigin="anonymous"></script>
<script src="https://apis.google.com/js/platform.js" async defer></script>
<script src="{% static 'login.js' %}"></script>
<script src="{% static 'home.js' %}"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>

<!------ Include the above in your HEAD tag ---------->
{% if exist %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="{% if activetab == 'homepage' %}active{% endif %} navbar-brand" href="{% url 'homepage' %}"> <img class="logo" src="https://i.imgur.com/TgYmtLS.png" height="40"></a>
  {% csrf_token %}
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar1" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbar1">
    <ul class="navbar-nav ml-auto">
<li class="{% if activetab == 'homepage' %}active{% endif %} nav-item">
<a class="nav-link" href="{% url 'homepage' %}">Home <span class="sr-only">(current)</span></a>
</li>
        <li class="{% if activetab == 'program' %}active{% endif %} nav-item"><a class="nav-link" href="{% url 'program' %}"> Program Donasi </a></li>
        <li class="{% if activetab == 'riwayat' %}active{% endif %} nav-item"><a class="nav-link" href="{% url 'riwayat' %}"> Riwayat </a></li>
        <li class="{% if activetab == 'About' %}active{% endif %} nav-item"><a class="nav-link" href="/about/"> About </a></li>
<div class="btn-group">
  <button type="button" class="btn btn-info dropdown-toggle" href = "/FormDonate/" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Hello, {{ request.session.name }}
  </button>
  <div class="dropdown-menu">
    <a class="{% if activetab == 'logout' %}active{% endif %} dropdown-item" href="{% url 'logout' %}" onclick="signOut()">Keluar</a>
    </div>
  </div>
  <li class="nav-item">
      </ul>
    </div>
  </nav>
  </div>
</article></nav>
{% else %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="{% if activetab == 'homepage' %}active{% endif %} navbar-brand" href="{% url 'homepage' %}"> <img class="logo" src="https://i.imgur.com/TgYmtLS.png" height="40"></a>
  {% csrf_token %}
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar1" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbar1">
    <ul class="navbar-nav ml-auto">
<li class="{% if activetab == 'homepage' %}active{% endif %} nav-item">
<a class="nav-link" href="{% url 'homepage' %}">Home <span class="sr-only">(current)</span></a>
</li>
        <li class="{% if activetab == 'program' %}active{% endif %} nav-item"><a class="nav-link" href="{% url 'program' %}"> Program Donasi </a></li>
        <li class="{% if activetab == 'riwayat' %}active{% endif %} nav-item"><a class="nav-link" href="{% url 'riwayat' %}"> Riwayat </a></li>
        <li class="{% if activetab == 'About' %}active{% endif %} nav-item"><a class="nav-link" href="/about/"> About </a></li>
<div class="btn-group">
  <button type="button" class="btn btn-info dropdown-toggle" href = "/FormDonate/" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Donatur
  </button>
  <div class="dropdown-menu">
      <a class="{% if activetab == 'loginpage' %}active{% endif %} dropdown-item" href="{% url 'loginpage' %}">Masuk</a>
  </div>
</div>
<li class="nav-item">
    </ul>
  </div>
</nav>
</div>
</article></nav>
{% endif %}