{% load staticfiles %}
{% include 'base.html' %}
{% block content %}
<link rel="stylesheet" type="text/css" media="screen" href="{% static 'homepage.css' %}" />
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12" id="padding" style="position: relative;">
          <h2 id="textHome1">You can do something to humanity</h2>
          <img id="picHome" src="https://nails.newsela.com/s3/newsela-media/article_media/2017/09/kids-help-after-hurricanes-016d225a.jpg?crop=0%2C73%2C1366%2C841&height=497&width=885">
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <br>
          <h1 id="textHome2">Be <strong id="ditebelin"> Aware</strong>, Lend A <strong id="ditebelin"> Hand</strong></h1>
          <br><br><br><br><br>
        </div>
      </div>

      {% for berita in berita %}
      <div class="row" id="card">
       
              <div class='beritagambar'>
                  <img src="{{ berita.link_gambar }}">
                  <a target="_blank" href="{{ berita.sumber }}"><h5></h5></a>
              </div>
              <div class="description beritagambar" id="textNews1">
                <h1 id="judul">{{ berita.berita }}</h1>
                <br>
                <a class="button" href="{{ berita.sumber }}">Read More...</a>
              </div>
      </div>
      <br> <br>
        {% endfor %}
      
        <!-- <div id="popup1" class="overlay">
          <div class="popup">
            <h3>Gempa di Palu</h3>
            <a class="close" href="#">&times;</a>
            <div class="content">
              Badan Nasional Penanggulangan Bencana (BNPB) mencatat sebanyak 1.763 korban jiwa yang terdampak gempa dan tsunami di Sulawesi Tengah berdasarkan pembaruan data korban hingga pukul 13.00 WIB pada Minggu (7/10/2018).<br><br>Sementara, berdasarkan data BNPB yang diperbarui pada Sabtu (6/10) pukul 13.00 wib sebanyak 1.649 korban meninggal dunia. <br><br>"Sampai hari ini pukul 13.00 WIB jumlah korban jiwa terus bertambah karena memang tim SAR (pencarian dan penyelamatan) gabungan yang dikoordinir oleh Basarnas terdiri dari TNI, Polri, Kementerian ESDM, relawan bahkan masyarakat juga terus melakukan pencarian korban sehingga tercatat 1.763 orang meninggal dunia," jelasnya. <br><br>Dari 1.763 orang yang meninggal dunia itu, satu di antaranya adalah warga negara Korea Selatan dan dimakamkan oleh pihak keluarganya.
            </div>
            </div>
          </div>
        </div>
      </div> -->

     <br><br>

     <div class="footer">
      "There is more happiness in<strong> giving </strong>than in<strong> receiving </strong>."</div>

{% endblock content %}  
