body{
  background-color: #f5f5f5;
  margin-top: 0 !important;
}

#textHome1{
	position: absolute;
	color: white;
	padding-left: 30%;
	padding-top: 15%;
	text-align: center;
	font-style: italic;
	font-weight: bold;
	z-index: 1;
}


#textHome2{
	position: absolute;
	color: #002266;
	text-align: center;
	padding-left: 33%;
}

#ditebelin{
	text-decoration: underline;
	text-decoration-color: #99d6ff;
}

#judul{
	color: #002266;
	text-decoration: underline;
	text-decoration-color: #99d6ff;

}
#picHome{	
	width: 100%;
	height: 500px;
}

h1 {
  font-family: Tahoma, Arial, sans-serif;
}

.descriptionberitagambar{
  margin-left: 36%;
}

#card {
  margin: 0 auto;
  background: rgb(255,250,250);
  padding: 35px;
  border: 2px solid #fff;
  border-radius: 20px/50px;
  background-clip: padding-box;
  text-align: center;
  width: 70%;
}

.button {
  font-size: 1em;
  padding: 10px;
  border: 2px solid #487799;
  border-radius: 20px/50px;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.3s ease-out;
}
.button:hover {
  background: #487799;
}

.footer {
  position: relative;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #002266;
  text-align: center;
  font-style: italic;
  color: #ffffff;

}

#padding{
	padding-left: 0% !important;
	padding-right: 0% !important;
}