{% include 'base.html' %}
{% load staticfiles %}

<style>
    .bencana {
    margin: auto;
    width: 18rem;
}
img{
    max-width: 1000px;
    max-height: 1000px;
}
</style>

{% if exist %}
<div class="container-fluid">
    <div class="title" id="homePage">
        <h1><strong><u>PROGRAM DONASI</u></strong></h1>
    </div>
    <br><br>
    <div class="card-deck">
    {% for i in program %}
  <div class="card">
    <div class="card-body text-justify">
        <div>
            <img class="card-img-top" src="{{ i.imageURL }}" alt="gambar">
        </div>
        <div class="card-body">
        <h3 class="card-title text-center"><u>{{ i.judul }}</u></h3>
      <p class="card-text">{{ i.deskripsi }}</p>
        <h4>Total terkumpul: </h4>
        <h3>Target: Rp {{ i.targetUang }},-</h3>
        </div>
    </div>
      <div class="card-footer text-center">
          <a class="btn btn-primary" href="/FormDonate/" role="button">Donate</a>
      </div>
  </div>
  {% endfor %}
</div>
    {% else %}
    <div class="container-fluid">
    <div class="title" id="homePage">
        <h1><strong><u>PROGRAM DONASI</u></strong></h1>
    </div>
    <br><br>
    <div class="card-deck">
    {% for i in program %}
  <div class="card">
    <div class="card-body text-justify">
        <div>
            <img class="card-img-top" src="{{ i.imageURL }}" alt="gambar">
        </div>
        <div class="card-body">
        <h3 class="card-title text-center"><u>{{ i.judul }}</u></h3>
      <p class="card-text">{{ i.deskripsi }}</p>
        <h4>Total terkumpul: </h4>
        <h3>Target: Rp {{ i.targetUang }},-</h3>
        </div>
    </div>
      <div class="card-footer text-center">
          <a class="btn btn-primary" href="{% url 'loginpage' %}" role="button">Donate</a>
      </div>
  </div>
  {% endfor %}
</div>
        {% endif %}