<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" name="google-signin-client_id" content="702606946367-oj8gge2d0bfkqi0fktesvgp1kmp236o1.apps.googleusercontent.com">
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Login - Crowd13Funding</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% load static %}
    <link rel="stylesheet" type="text/css" media="screen" href="{% static 'regis.css' %}" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    
</head>
<body>
    {% include 'base.html' %}
    {% csrf_token %}
    <br>
    <br><div class="contain">
        <h3>Please log in</h3>
        <br>
        <div class="g-signin2" data-onsuccess="onSignIn" data-width="300" data-longtitle="true"></div>
        </div>
    <script
        src="https://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <script src="{% static 'login.js' %}"></script>
</body>
</html>