<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Registration - Crowd13Funding</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% load static %}
    <link rel="stylesheet" type="text/css" media="screen" href="{% static 'regis.css' %}" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Droid+Serif" />
</head>
<body>
    {% include 'base.html' %}
    <form id="" action='/registrasi/' method='POST'>
        <h2 id="daftar">Daftar Menjadi Donatur</h2>
        <hr id="daftarLine">
        {% csrf_token %}
        {% for field in form %}
            <div id= 'formbox'>
                {{ field.label_tag}}
                {{ field }}
            </div>
        
        {% endfor %}
        <div id='button'>
            <button type="submit" class="btn btn-outline-secondary button">Daftar</button>
    </div>
    </form>
</body>
</html>